

/*ADMIN WINDOW*/

.kickUsersDiv {
    margin-top: 3em;
  }
  
  .usersToKick {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1em;
  }
  
  .usersInChannels {
    display: flex;
    flex-direction: row;
  }
  
  .kickUser {
    cursor: pointer;
    margin: 0;
  }
  
  .userInAdminWindow {
    margin: 0;
  }

  /*-------------------------------------------*/
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .adminWindow {
      width: 100%;
    }}