

/*FRIENDLIST*/

.friendDiv {
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.friendList {
  height: 100%;
  overflow: auto;
}

.friendsInFriendList {
  height: 100%;
  
}

.friend {
  cursor: pointer;
  width: 25%;
  margin-left: 1.5em;
}

.friendDiv h3 {
	margin: 0;
	padding-top: 10px;
	padding-left: 15px;
}

/*-------------------------------------------*/