

/*ONLINE LIST*/

.onlineList {
    height: 100vh;
    overflow-y: auto;
}

.onlineList::-webkit-scrollbar {    /* Hides the scrollbar in message div*/
    display: none;
  }

.onlineList h3 {
	margin: 0;
  padding-top: 10px;
  margin-left: 0.6em;
}

.onlineUserInList {
  width: 25%;
  cursor:pointer;
  margin-left: 1.5em;
}

.onlineUserInList:hover {
	color: #eee;
}

/*-------------------------------------------*/