

/*ONLINE LIST*/

.onlineList {
	background-color: aqua;
}

.onlineList h3 {
	margin: 0;
	padding-top: 10px;
}

.onlineUserInList {
  width: 10%;
  cursor:pointer;
  margin-left: 1.5em;
}

/*-------------------------------------------*/