

/*REGISTER COMPONENT*/
.registerPage {
	padding: 20px;
	font-weight: 700;
	text-align: center;
	font-size: 45px;
	color: #eee;
}

.h3Register {
	text-align: center;
	font-size: 25px;
	color: #eee;
}

.registerForm {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.registerForm input {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	align-self: center;
	width: 40%;
}

.registerBtn {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	align-self: center;
	width: 15%;
}

.signUp {
	padding: 30px;
	font-size: 20px;
	color: #eee;
}

.LoginWord{
	cursor:pointer;
	font-style: italic;
	text-decoration: underline;	
}

.inputFocus:focus{
	background-color:lightgoldenrodyellow;
}


#wrongPass{
	color:red;
}

/*-------------------------------------------*/